/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff"), url("../fonts/raleway-v28-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v28-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --logo-font-dark: #000;
  --main-font-color: #212121;
  --second-font-color: #757575;
  --main-light-color: #fff;
  --main-accent-color: #2196f3;
  --social-link-color: #afb1b8;
  --address-link-color: rgb(255 255 255 / 0.6);
  --section-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-background-social: rgb(255 255 255 / 0.1);
  --backdrop-background: rgb(0 0 0 / 0.2);
  --btn-background-color: var(--main-accent-color);
  --btn-background-hover: #188ce8;
  --btn-box-shadow: 0px 4px 4px rgb(0 0 0 / 0.15);
  --header-border-color: #ececec;
  --hero-gradient-color: rgb(47 48 58 / 0.4);
  --project-border-color: #eee;
  --project-background-overlay: rgb(33 150 243 / 0.9);
  --project-item-box-shadow: 0px 1px 1px rgb(0 0 0 / 0.12), 0px 4px 4px rgb(0 0 0 / 0.06),
    1px 4px 6px rgb(0 0 0 / 0.16);
  --product-subtitle-background: rgb(47 48 58 / 0.8);
  --team-box-shadow: 0px 1px 3px rgb(0 0 0 / 0.12), 0px 1px 1px rgb(0 0 0 / 0.14),
    0px 2px 1px rgb(0 0 0 / 0.2);
  --team-border-radius: 0px 0px 4px 4px;
  --subscribe-form-input-color: rgb(255 255 255 / 0.6);
  --subscribe-form-input-border-color: rgb(255 255 255 / 0.3);
  --filter-btn-box-shadow: 0px 3px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.08),
    0px 2px 2px rgb(0 0 0 / 0.12);
  --modal-box-shadow: var(--team-box-shadow);
  --modal-close-btn-border-color: rgb(0 0 0 / 0.1);
  --modal-close-btn-box-shadow: 0 0px 2px 0 rgb(60 64 67 / 0.3), 0 0px 6px 3px rgb(60 64 67 / 0.15);
  --modal-form-input-border-color: rgb(33 33 33 / 0.2);
  --modal-form-placeholder-color: rgb(117 117 117 / 0.5);
  /* Grid setting */
  --grid-items: 1;
  --grid-indent: 30px;
  /* Animation setting */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--main-font-color);
}

.no-scroll {
  overflow: hidden;
}

/* Reset Styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon {
  fill: currentColor;
}

.link {
  text-decoration: none;
}
.link:hover, .link:focus {
  outline-color: var(--main-accent-color);
}

/* Title Styles */
.title {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}

/* Subtitle Styles */
.subtitle {
  margin-bottom: 10px;
}

/* Grid Styles */
.grid {
  gap: var(--grid-indent);
  flex-wrap: wrap;
}
.grid__item {
  position: relative;
  flex-basis: calc((100% - var(--grid-indent) * (var(--grid-items) - 1)) / var(--grid-items));
}

/* Backdrop Styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-background);
  opacity: 1;
  visibility: visible;
  transition: visibility var(--animation), opacity var(--animation);
}

/* Button Styles */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background-color: var(--btn-background-color);
  border-radius: 4px;
  border: 0;
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}
.button:hover, .button:focus {
  outline-color: var(--btn-background-hover);
  background-color: var(--btn-background-hover);
  box-shadow: var(--btn-box-shadow);
  cursor: pointer;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__label {
  position: relative;
  margin-left: 23px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}

.checkbox__custom {
  position: absolute;
  top: 0;
  left: -23px;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--main-font-color);
  outline-offset: -2px;
  border-radius: 2px;
  background-color: #fff;
  transition: outline-color var(--animation), background-color var(--animation);
}
.checkbox__label:hover .checkbox__custom, .checkbox__label:focus .checkbox__custom {
  outline-color: var(--main-accent-color);
  cursor: pointer;
}
.checkbox__input:focus + * .checkbox__custom {
  outline-color: var(--main-accent-color);
}
.checkbox__input:checked + * .checkbox__custom {
  outline-color: var(--main-accent-color);
  background-color: var(--main-accent-color);
  color: var(--main-light-color);
}

.checkbox__icon {
  position: absolute;
  top: 1px;
  left: 2px;
  opacity: 0;
  transition: opacity var(--animation);
}
.checkbox__input:checked + * .checkbox__icon {
  opacity: 1;
  z-index: 5;
}

/* Container Styles */
.container {
  position: relative;
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.container--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  flex-shrink: 0;
  gap: 50px;
}
.navigation--mobile {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.navigation__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-font-color);
  transition: color var(--animation);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--main-accent-color);
}
.navigation__link--mobile {
  padding: 12px 0;
  font-size: 40px;
  line-height: 1.175;
}
.navigation__link--color-grey {
  color: var(--second-font-color);
}
.navigation__link--current {
  color: var(--main-accent-color);
}
.navigation__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--main-accent-color);
  border-radius: 2px;
}

.contact {
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
    gap: 30px;
  }
}
.contact--mobile-reverse {
  display: inline-flex;
  flex-direction: column-reverse;
  gap: 8px;
}
.contact--in-column {
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
@media screen and (min-width: 1200px) {
  .contact--in-column {
    align-items: flex-start;
  }
}

.contact__link {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--second-font-color);
  transition: color var(--animation);
}
.contact__link:hover, .contact__link:focus {
  color: var(--main-accent-color);
}
.contact__link--large {
  padding: 12px 0;
  color: var(--main-accent-color);
  font-size: 34px;
  line-height: 1.18;
}
@media screen and (max-width: 340px) {
  .contact__link--large {
    font-size: 30px;
  }
}
.contact__link--small {
  padding: 12px 0;
  font-size: 24px;
  line-height: 1.17;
}
.contact__link--light, .contact__link--light:hover, .contact__link--light:focus {
  color: var(--main-light-color);
}
.contact__link--translucent {
  color: var(--address-link-color);
}

@media screen and (min-width: 1200px) {
  .contact__icon {
    width: 16px;
    height: 16px;
  }
}

/* Form Styles */
.form__input, .form__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--second-font-color);
}

.form {
  text-align: center;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__title {
  display: block;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__label {
  margin-bottom: 4px;
}

.form__input-wrapper {
  position: relative;
}

.form__input {
  position: relative;
  min-width: 100%;
  padding: 12px 16px 12px 39px;
  border: 1px solid;
  border-color: var(--modal-form-input-border-color);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color var(--animation);
}
.form__input:focus {
  border-color: var(--main-accent-color);
  outline: none;
}
.form__input::-moz-placeholder {
  color: var(--modal-form-placeholder-color);
}
.form__input:-ms-input-placeholder {
  color: var(--modal-form-placeholder-color);
}
.form__input::placeholder {
  color: var(--modal-form-placeholder-color);
}

.form__input-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: color var(--animation);
}
.form__input:focus + .form__input-icon {
  color: var(--main-accent-color);
}

.form__textarea {
  padding: 12px 16px;
  min-height: 120px;
  resize: none;
}

.form__checkbox {
  padding-top: 20px;
  padding-bottom: 30px;
}

.form__checkbox-label {
  color: var(--second-font-color);
}
@media screen and (min-width: 1200px) {
  .form__checkbox-label {
    font-size: 14px;
  }
}

.form__terms-link {
  display: inline-block;
  font-weight: 400;
  text-decoration: underline;
  color: var(--main-accent-color);
}
.form__terms-link:hover, .form__terms-link:focus {
  color: var(--btn-background-hover);
}

/* Logo Styles */
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo--blue {
  color: var(--main-accent-color);
}
.logo--light {
  color: var(--main-light-color);
}
.logo--dark {
  color: var(--logo-font-dark);
}

/* Modal Styles */
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  padding: 40px;
  min-width: 290px;
  width: 450px;
  height: auto;
  overflow-y: scroll;
  background-color: var(--main-light-color);
  box-shadow: var(--modal-box-shadow);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);
}
@media screen and (max-width: 480px) {
  .modal {
    width: calc(100vw - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 31px;
  height: 31px;
  z-index: 10;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: 1px solid var(--modal-close-btn-border-color);
  outline-offset: -1px;
  cursor: pointer;
  transition: outline-color var(--animation), box-shadow var(--animation);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  outline-color: var(--main-accent-color);
  box-shadow: var(--modal-close-btn-box-shadow);
}
.modal__close-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Project Card Styles */
.project-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: box-shadow var(--animation);
}
.project-card:hover {
  box-shadow: var(--project-item-box-shadow);
  cursor: pointer;
}
.project-card__thumb {
  position: relative;
  overflow: hidden;
}
.project-card__img-desc {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-light-color);
}
.project-card__wrapper {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid var(--project-border-color);
  border-top: none;
}
.project-card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-card__desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-font-color);
}

.project-card__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  padding: 24px;
  background: var(--project-background-overlay);
  transform: translateY(100%);
  transition: transform var(--animation);
}
.project-card:hover .project-card__img-overlay {
  transform: translateY(0);
}

/* Social Link Styles */
.social__list {
  justify-content: center;
  gap: 10px;
}

.social__item:not(:last-child)::after {
  content: "";
  width: 5px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: var(--social-link-color);
  border-radius: 50%;
  transition: color var(--animation), background-color var(--animation);
}
.social__link:hover, .social__link:focus {
  color: var(--main-light-color);
  background-color: var(--btn-background-color);
}
.social__link--text-only {
  position: relative;
  padding: 12px 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  letter-spacing: 0.02em;
  border-radius: 0;
  color: var(--main-accent-color);
  background-color: transparent;
  transition: color var(--animation);
}
@media screen and (max-width: 387px) {
  .social__link--text-only {
    font-size: 13px;
  }
}
.social__link--text-only:hover, .social__link--text-only:focus {
  color: var(--btn-background-hover);
  background-color: transparent;
}
.social__item:not(:last-child) .social__link--text-only::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 1px;
  height: 22px;
  background-color: var(--modal-form-input-border-color);
}

/* Team Card Styles */
.team-card__desc, .team-card__member {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-card {
  height: 100%;
  background-color: var(--main-light-color);
  box-shadow: var(--team-box-shadow);
  border-radius: var(--team-border-radius);
}
.team-card__wrapper {
  margin: 30px auto;
}
.team-card__member {
  font-weight: 500;
}
.team-card__desc {
  color: var(--second-font-color);
}
.team-card__social-list {
  margin-top: 16px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--main-light-color);
  transform: translateY(-100%);
  transition: transform var(--animation);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  transform: translateY(0);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color var(--animation);
}
@media screen and (min-width: 768px) {
  .mobile-menu__close-btn {
    display: none;
  }
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  color: var(--main-accent-color);
}

.mobile-menu__navigation {
  margin-top: 36px;
  margin-bottom: 56px;
}

.mobile-menu__social-list {
  margin-top: 40px;
  margin-bottom: 36px;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

/* Header Styles */
.header {
  margin: 0 auto;
  border-bottom: 1px solid var(--header-border-color);
}

@media screen and (max-width: 767.98px) {
  .header__container {
    padding: 16px 15px;
    justify-content: space-between;
  }
}

.header__wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    width: 100%;
    margin-left: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__contact-link {
  font-weight: 500;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contact-link {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact-link {
    padding: 26px 0;
  }
}

.header__burger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color var(--animation);
}
@media screen and (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
}
.header__burger-btn:hover, .header__burger-btn:focus {
  color: var(--main-accent-color);
}

/* Footer Styles*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  background-color: var(--footer-background-color);
}

.footer__container {
  flex-wrap: wrap;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: space-between;
  }
}

.footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__item {
    align-items: flex-start;
  }
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--main-light-color);
}

.footer__social-link {
  color: var(--main-light-color);
  background-color: var(--footer-background-social);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--btn-background-color);
}

.footer__form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form-wrapper {
    flex-wrap: nowrap;
    gap: 12px;
  }
}

.footer__form-input {
  padding: 14px 15px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--subscribe-form-input-color);
  border-color: var(--subscribe-form-input-border-color);
}
@media screen and (min-width: 1200px) {
  .footer__form-input {
    min-width: 358px;
  }
}
.footer__form-input::-moz-placeholder {
  color: var(--subscribe-form-input-color);
}
.footer__form-input:-ms-input-placeholder {
  color: var(--subscribe-form-input-color);
}
.footer__form-input::placeholder {
  color: var(--subscribe-form-input-color);
}

/* Hero Section Styles */
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  max-width: 480px;
  color: var(--main-light-color);
  background-position: center;
  background-size: cover;
  background-color: var(--footer-background-color);
  background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/hero/mob/hero_background.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/hero/mob/hero_background@2x.jpg");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/hero/mob/hero_background@3x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/hero/tab/hero_background.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/hero/tab/hero_background@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/hero/tab/hero_background@3x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    max-width: 1600px;
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/hero/desk/hero_background.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/hero/desk/hero_background@2x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/hero/desk/hero_background@3x.jpg");
  }
}

.hero__wrapper {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__wrapper {
    max-width: 696px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/* Features Section Styles*/
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    --grid-items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    --grid-items: 4;
  }
}

.features__thumb {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px;
  background-color: var(--section-background-color);
  border-radius: 4px;
}

.features__subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-font-color);
}

/* Product Section Styles */
.product {
  display: none;
}
@media screen and (min-width: 1200px) {
  .product {
    padding-top: 0;
    padding-bottom: 94px;
    margin: 0 auto;
    display: block;
  }
}

.product__item {
  --grid-items: 3;
}

.product__title {
  margin-bottom: 50px;
}

.product__subtitle-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background-color: var(--product-subtitle-background);
}

.product__subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-light-color);
}

/* Team Section Styles */
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  background-color: var(--section-background-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    --grid-items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    --grid-items: 4;
  }
}

.team__title {
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
  }
}

/* Client Section Styles */
.client {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;
  }
}

.client__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media screen and (min-width: 340px) {
  .client__item {
    --grid-items: 2;
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    --grid-items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    --grid-items: 6;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: var(--social-link-color);
  border: 1px solid;
  border-color: var(--social-link-color);
  border-radius: 4px;
  transition: color var(--animation), border-color var(--animation);
}
.client__link:hover, .client__link:focus {
  color: var(--main-accent-color);
  border: 1px solid;
  border-color: var(--main-accent-color);
}

/* Portfolio Section Styles */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;
  }
}

.portfolio__filter-list {
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767.98px) {
  .portfolio__filter-list {
    max-width: 432px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__filter-list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter-list {
    margin-bottom: 50px;
  }
}

.portfolio__filter-btn {
  padding: 6px 22px;
  min-width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  background-color: var(--section-background-color);
}
.portfolio__filter-btn:hover, .portfolio__filter-btn:focus {
  color: var(--main-light-color);
  box-shadow: var(--filter-btn-box-shadow);
}
.portfolio__filter-btn--active {
  color: var(--main-light-color);
  box-shadow: var(--filter-btn-box-shadow);
  background-color: var(--btn-background-color);
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    --grid-items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    --grid-items: 3;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */