.contact {
  //   flex-shrink: 0;
  flex-direction: column;
  gap: 10px;

  @include mq(desk) {
    flex-direction: row;
    gap: 30px;
  }

  &--reverse {
    flex-direction: column-reverse;
  }

  &--in-column {
    flex-direction: column;
    align-items: center;
    gap: 9px;

    @include mq(desk) {
      align-items: flex-start;
    }
  }
}

.contact__link {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 10px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  color: var(--second-font-color);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--main-accent-color);
  }

  &--large {
    // padding: 0;
    color: var(--main-accent-color);
    font-size: 34px;
    line-height: 1.18;
  }

  &--small {
    font-size: 24px;
    line-height: 1.17;
  }

  &--light,
  &--light:hover,
  &--light:focus {
    color: var(--main-light-color);
  }

  &--translucent {
    color: var(--address-link-color);
  }
}

.contact__icon {
  @include mq(desk) {
    width: 16px;
    height: 16px;
  }
}
