/* Form Styles */

%field-font-styles {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;

  color: var(--second-font-color);
}

.form {
  text-align: center;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    display: block;
    margin-bottom: 2px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__label {
    @extend %field-font-styles;
    margin-bottom: 4px;
  }

  &__input-wrapper {
    position: relative;
  }

  &__checkbox {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  // .form__label,
  // .form__input {
  //   display: block;
  //   font-weight: 400;
  //   font-size: 12px;
  //   line-height: 1.17;
  //   letter-spacing: 0.01em;
  //   text-align: left;

  //   color: var(--second-font-color);
  // }
}

.form__input {
  @extend %field-font-styles;

  position: relative;
  min-width: 100%;
  padding: 12px 16px 12px 39px;

  border: 1px solid;
  border-color: var(--modal-form-input-border-color);
  border-radius: 4px;
  background-color: transparent;

  transition: border-color var(--animation);

  &:focus {
    border-color: var(--main-accent-color);
    outline: none;
  }

  &::placeholder {
    color: var(--modal-form-placeholder-color);
  }
}

.form__textarea {
  padding: 12px 16px;
  min-height: 120px;
  resize: none;
}

.form__input-icon {
  position: absolute;
  top: 11px;
  left: 12px;

  transition: color var(--animation);

  .form__input:focus + & {
    color: var(--main-accent-color);
  }
}

.form__terms-link {
  font-weight: 400;
  text-decoration: underline;
  color: var(--main-accent-color);

  &:hover,
  &:focus {
    color: var(--btn-background-hover);
  }
}
