/* Link Styles */

.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: var(--main-font-color);
  text-decoration: none;
  font-style: normal;
  transition: color var(--animation), background-color var(--animation);

  &:hover,
  &:focus {
    outline-color: var(--main-accent-color);
    color: var(--main-accent-color);
    // background-color: inherit;
  }
}
