.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;

  background-color: lightblue;

  @include mq(tab) {
    display: none;
  }
}

.mobile-menu__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include mq(tab) {
    display: none;
  }
}

.mobile-menu__navigation {
  padding-top: 48px;
}
