/* Portfolio Styles */

.portfolio {
  &__filter-list {
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
}

.portfolio__filter-btn {
  padding: 6px 22px;
  min-width: 100%;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--main-font-color);
  background-color: var(--section-background-color);

  &:hover,
  &:focus {
    color: var(--main-light-color);
    box-shadow: var(--filter-btn-box-shadow);
  }

  &--active {
    color: var(--main-light-color);
    box-shadow: var(--filter-btn-box-shadow);
    background-color: var(--btn-background-color);
  }
}
