:root {
  --main-font: 'Roboto', sans-serif;

  --logo-font: 'Raleway', sans-serif;
  --logo-font-dark: #000;

  --main-font-color: #212121;
  --second-font-color: #757575;

  --main-light-color: #fff;
  --main-accent-color: #2196f3;

  --social-link-color: #afb1b8;
  --address-link-color: rgb(255 255 255 / 0.6);

  --section-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-background-social: rgb(255 255 255 / 0.1);
  --backdrop-background: rgb(0 0 0 / 0.2);

  --btn-background-color: var(--main-accent-color);
  --btn-background-hover: #188ce8;
  --btn-box-shadow: 0px 4px 4px rgb(0 0 0 / 0.15);

  --header-border-color: #ececec;

  --hero-gradient-color: rgb(47 48 58 / 0.4);

  --project-border-color: #eee;
  --project-background-overlay: rgb(33 150 243 / 0.9);
  --project-item-box-shadow: 0px 1px 1px rgb(0 0 0 / 0.12), 0px 4px 4px rgb(0 0 0 / 0.06),
    1px 4px 6px rgb(0 0 0 / 0.16);

  --product-subtitle-background: rgb(47 48 58 / 0.8);

  --team-box-shadow: 0px 1px 3px rgb(0 0 0 / 0.12), 0px 1px 1px rgb(0 0 0 / 0.14),
    0px 2px 1px rgb(0 0 0 / 0.2);
  --team-border-radius: 0px 0px 4px 4px;

  --subscribe-form-input-color: rgb(255 255 255 / 0.6);
  --subscribe-form-input-border-color: rgb(255 255 255 / 0.3);

  --filter-btn-box-shadow: 0px 3px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.08),
    0px 2px 2px rgb(0 0 0 / 0.12);

  --modal-box-shadow: var(--team-box-shadow);
  --modal-close-btn-border-color: rgb(0 0 0 / 0.1);
  --modal-close-btn-box-shadow: 0 0px 2px 0 rgb(60 64 67 / 0.3), 0 0px 6px 3px rgb(60 64 67 / 0.15);
  --modal-form-input-border-color: rgb(33 33 33 / 0.2);
  --modal-form-placeholder-color: rgb(117 117 117 / 0.5);

  /* Grid setting */
  /* --project-items: 3; */
  --grid-indent: 30px;

  /* Animation setting */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
