/* Client Section Styles */

.client {
  @include section(60px);

  @include mq(desk) {
    @include section(default);
  }
}

.client__title {
  margin-bottom: 30px;

  @include mq(desk) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.client__item {
  @media screen and (min-width: 340px) {
    --grid-items: 2;
  }

  @include mq(tab) {
    --grid-items: 3;
  }

  @include mq(desk) {
    --grid-items: 6;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  color: var(--social-link-color);
  border: 1px solid;
  border-color: var(--social-link-color);
  border-radius: 4px;

  transition: color var(--animation), border-color var(--animation);

  &:hover,
  &:focus {
    color: var(--main-accent-color);
    border: 1px solid;
    border-color: var(--main-accent-color);
  }
}
