/* Features Section Styles*/

.features {
  @include section(60px);

  @include mq(desk) {
    @include section(default);
  }
}

.features__item {
  @include mq(tab) {
    --grid-items: 2;
  }

  @include mq(desk) {
    --grid-items: 4;
  }
}

.features__thumb {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px;
  background-color: var(--section-background-color);
  border-radius: 4px;
}

.features__subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include mq(mob-only) {
    text-align: center;
  }
}

.features__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-font-color);
}
