/* Header Styles */

.header {
  @include section(null);

  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  @include mq(mob-only) {
    padding: 16px 15px;
    justify-content: space-between;
  }
}

.header__wrapper {
  margin-left: 93px;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;

  @include mq(tab) {
    display: flex;
  }
}

.header__contact-link {
  font-weight: 500;
  @include mq(tab-only) {
    font-size: 12px;
    line-height: 1.17;
  }

  @include mq(desk) {
    padding: 26px 0;
  }
}

.header_burger-icon {
  @include mq(tab) {
    display: none;
  }
}
