/* Portfolio Section Styles */

.portfolio {
  @include section(60px);

  @include mq(desk) {
    @include section();
  }
}

.portfolio__filter-list {
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 30px;

  @include mq(mob-only) {
    max-width: 432px;
  }

  @include mq(tab) {
    justify-content: center;
  }

  @include mq(desk) {
    margin-bottom: 50px;
  }
}

.portfolio__filter-btn {
  padding: 6px 22px;
  min-width: 100%;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--main-font-color);
  background-color: var(--section-background-color);

  &:hover,
  &:focus {
    color: var(--main-light-color);
    box-shadow: var(--filter-btn-box-shadow);
  }

  &--active {
    color: var(--main-light-color);
    box-shadow: var(--filter-btn-box-shadow);
    background-color: var(--btn-background-color);
  }
}

.portfolio__item {
  @include mq(tab) {
    --grid-items: 2;
  }

  @include mq(desk) {
    --grid-items: 3;
  }
}
